tr, td {
  background-color: white;
}

tr th{

  background-color: orange;
}


#uefa {
  padding: 15px;
  border-radius: 50px;
  object-fit: fill;
  display: flex;
  flex-wrap: wrap;
}

.top_scorers {
  position: absolute;
  bottom: 200px;
  left: 250px;
  color: white;
  font-size: x-large;
  background-color: darkred;
  border-radius: 10px;
  font-family: 'League Gothic', sans-serif;
}

#player_photo {
  border-radius: 100px;
  
}

@media (max-width: 575px){
.top_scorers {
top: 376px;
bottom: auto;
left: 98px;
font-size: medium;

}
#uefa {
  width: 543px;
  height: 300px;

}


}